<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
   <link rel='stylesheet' href='/styles.css'>
   <title>Stores</title>
</head>
    <body>
        <div class='container'>
        <h1>Stores</h1>

        {% if stores is not empty %}
            <p>Here are the available stores:</p>
            <ul>
                {% for store in stores %}
                    <li><a href="/store/{{ store.getId }}">{{ store.getStoreName }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action='/stores' method='post'>
            <label for='store_name'>Store Name</label>
            <input id='store_name' name='store_name' type='text'>

            <button class="btn-info" type='submit'>Add store</button>
        </form>

        <form action='/delete_stores' method='post'>
            <button class="btn-danger" type='submit'>Delete All Stores</button>
        </form>

        <p><a href='/'>Home</a></p>
    </div>

    </body>
</html>
